<div id="<%= dom_id blog %>">


  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> <%= blog.blog_title %></h5>
        <p class="card-text"> <%= blog.blog_description %></p>
        <p  class="btn btn-primary text-danger" ><%=  link_to "Show this blog", blog, class:"text-white text-decoration-none "%></p>
      </div>
  
 
</div>
</div>
