
<div class="container ">
  <h3 class="text-danger text-center p-3">Edit your articles</h3>
  <%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Show this article", @article %> |
  <%= link_to "Back to articles", articles_path %>
</div>
</div>
