<p style="color: green"><%= notice %></p>
<div>
<h2 class="text-danger text-uppercase text-center "><%= @user.username %> Profile</h2>
<h4 class="text-success text-center"><%= @user.articles.count %> Articles</h4>
<%= render 'articles/allArticles', obj: @user.articles  %>
</div>
