<div class="container">
<div class="mt-4 p-5 blog-homepage text-white rounded text-center">
  <h1 class="text-blue">ECO BLOG</h1>
  <p>Hello everyone this is my first ruby on rails project. It's a blog proejct so here i post my daily life activities</p>
</div>

</div>