/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Sticky Footer Classes */

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}


.blog-homepage {
    background-image: url("wave-particles-blue-dots-background-vector-38972377.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 420px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 20px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    /* text-align: center; */
}

.second {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 100%;
    border: 2px solid #f6f6f6;
}

.fourth {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 100%;
    border: 2px solid #f6f6f6;
    font-weight: 900;
}

.font-weight-bold {
    font-weight: 800;
}

.main-wrapper {
    /* display: flex; */
    text-align: center;
    align-items: center;
    /* flex-direction: column; */
    /* justify-content: center; */
    width: 100%;
    /* min-height: 100%; */
    /* padding: 20px; */
}

/* styling on pagination */
.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default;
}

.flickr_pagination a,
.flickr_pagination span,
.flickr_pagination em {
    padding: 0.2em 0.5em;
}

.flickr_pagination .disabled {
    color: #aaaaaa;
}

.flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084;
}

.flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none;
}

.flickr_pagination a:hover,
.flickr_pagination a:focus {
    border-color: #003366;
    background: #0063dc;
    color: white;
}

.flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
}

.flickr_pagination .previous_page,
.flickr_pagination .next_page {
    border-width: 2px;
}

.flickr_pagination .previous_page {
    margin-right: 1em;
}

.flickr_pagination .next_page {
    margin-left: 1em;
}